
*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Roboto Slab", serif;
font-weight: 375;
}


/* Nav Bar CSS */
.navbar {
background: #99582A;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
position: sticky;
top: 0;
z-index: 999;

}

.navbar__container {
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin-right: auto;
margin-left: auto;
padding-right: 50px;
padding-left: 50px;
}

#navbar__logo {
background-color: #faecc8;
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}
.navbar__menu {
display: flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar__item {
height: 80px;
}
.navbar__item:nth-child(1){
  white-space: nowrap;
}
.navbar__links {
color: #faecc8;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;
}

.navbar__btn {
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
width: 100%;
}

.button {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 4px;
background: #BB9457;
color: #faecc8;
}

.button:hover {
color: #6F1D1B;
transition: all 0.4s ease;
}

.navbar__links:hover {
color: #6F1D1B;
transition: all 0.3s ease;
}
/** Mobile Navbar**/
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
 

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #131313;
  } 

  .navbar__menu.active{
    background: #99582A;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  #navbar__logo{
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #faecc8;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links{
    text-align: center;
    padding: 2rem;
    width:100%;
    display: table;
  }
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__btn{
    padding-bottom: 2rem;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 0;
  }

  .navbar__toggle .bar{
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); 
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

} 


/*Hero Section CSS*/
.main{
  background-color: #FFE6A7;
  background-size: cover;

}
.main__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #FFE6A7;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;

}

.main__content h1 {
  font-size: 3.5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #432818 0%, #99582A 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 2rem;
  background-color: #6F1D1B;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  font-size: 1.75rem;
  background-color: #99582A;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: auto;
  font-family: "Dancing Script", cursive;
  font-weight: 550;
}

.main__btn:hover:after{
  width: 100%;
} 
.main__img--container{
  text-align: center;
}

#main__img {
  max-height: 80%;
  max-width: 80%;
}

/* Mobile Response */
@media screen and (max-width: 768px) {
  .main__container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
  .main__content{
    text-align: center;
    margin-bottom: 3rem;
  }
  .main__content h1, .main__content h2 {
    margin: 0;
    padding: 0;
  }
  .main__content h1 {
    font-size: 3rem;

  }
  .main__content h2 {
    font-size: 2.25rem;
  }
  .main__content p {
    font-size: 1.8rem;
  }
  
}
@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 1.75rem;
  }
  .main__content p {
    font-size: 1.8rem;
  }
  .main__btn{
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
  #main__img {
    align-items: center;
  }
}

/** Services Section**/
.services {
  padding-top: 10rem;
  background: #FFE6A7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.services h1 {
  background-color: #99582A;
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.services__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services__card{
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0)0%,
    rgba(17,17,17,0.6)100%
  ), 
  url("images/CTF.jpg");
  position: relative;
  color: #fff;
}
/* REVISIT THIS FOR SOME REASON THIS IS NOT WORKING  */
.services__card:nth-child(2){
  background-image: linear-gradient(
    to bottom, 
  rgba(0,0,0,0)0%,
  rgba(17,17,17,0.6)100%
  ),
  url("images/Keyboard.jpg");
  background-size: cover;
  position: relative;
}
.services__card:nth-child(3){
  background-image: linear-gradient(
    to bottom, 
  rgba(0,0,0,0)0%,
  rgba(17,17,17,0.6)100%
  ),
  url("images/Tree.png");
  background-size: cover;
  position: relative;
}

.services_link {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #fff;
}
.services_link:visited {
  color: inherit;
}

.services h2{
position: absolute;
top: 350px;
left: 30px;
}

.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.services__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #6F1D1B;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .services{
    height: auto;
    
  }
  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .services{
    height: auto;
  }
  
  .services h1 {
    font-size: 1.2rem;
  }
  .services__card{
    width: 300px;
  }
}

/*Footer CSS*/
.footer__container {
  background-color: #99582A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  width: 100%;
  bottom: 0px;
}

#footer__logo {
  color: #faecc8;
  display: flex;
  align-items: left;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: left;
}
.footer__link--wrapper {
  display: flex;
}
.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
}
.footer__link--items > h2{
  color: #faecc8;
}

.footer__link--items a {
  color: #faecc8;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #6F1D1B;
  transition: 0.3s ease-out;
}


/* Social Icons*/
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}
.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.website__right {
  font-size: 2rem;
  background-color: #faecc8;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: auto;
  font-family: "Dancing Script", cursive;
  font-weight: 550;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }
  #fotoer__logo{
    margin-bottom: 2rem;
  }
  .website__right {
    margin-bottom: 2rem;
  }
  .footer__link--wrapper{
    flex-direction: column;
  }
  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}


/*About Me page CSS*/

.about_me {
  background-color: #FFE6A7;
  background-size: cover;
}

.about_img--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  margin: 0;
  padding: 0;
}

#re_enlist{
  height: 25rem;
  width: auto;
}

#als {
  height: 25rem;
  width: auto;
}

#cc_grad {
  height: 25rem;
}

/*Projects page CSS*/

.projects {
  background: #FFE6A7;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
}

.projects h1 {
  text-align: center;
  background-color: #99582A;
  background-size: 100%;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.projects h3 {
  text-align: center;
  background-color: #99582A;
  background-size: 100%;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.projects_container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.projects_menu{
  display: flex;
  flex-direction: row;
}
.projects_card {
  margin: 1rem;
  height: 200px;
  width: 300px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0)0%,
    rgba(17,17,17,0.6)100%
  ), 
  url("images/website_code.png");
  background-size: contain;
  position: relative;
  color: #fff;
}

.projects_card:nth-child(2){
  background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0)0%,
    rgba(17,17,17,0.6)100%
  ), 
  url("images/htb.png");
  background-size: cover;
  position: relative;
  color: #fff;
}
.projects h2 {
  position: absolute;
  bottom: 110px;
  left: 15px;
}

.projects_card p {
  position: absolute;
  bottom: 65px;
  left: 15px;
}

.projects_card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #6F1D1B;
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 1rem;
  cursor: pointer;
  list-style-type: none;
}

.projects_link {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #fff;
}
.projects_card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.projects_link:visited {
  color: inherit;
}

@media screen and (max-width: 960px) {
  .projects{
    height: auto;
  }
  .projects h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .projects h3 {
    font-size: 1rem;  
  }
}

@media screen and (max-width: 480px) {
  .projects{
    height: auto;
  }
  .projects h1 {
    font-size: 1.2rem;
  }
  .projects h3 {
    font-size: .75rem;
  }
}


/*Contact Page CSS*/
.contact {
  background: #FFE6A7;
}
.contact_container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact_title {
  background-color: #99582A;
  background-size: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.contact_title hr {
  border: none;
  width: 380px;
  height: 5px;
  background-color: #99582A;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #667;
  border-radius: 50px;
}

.contact_left textarea {
  height: 225px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #432818
}

.contact-inputs::placeholder{
  color: #a9a9a9;
}

.contact_left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #faecc8;
  gap: 10px ;
  border: none;
  border-radius: 50px;
  background-color: #99582A;
  cursor: pointer;
}

.contact_right img {
  height: 80%;
  width: auto;
}

@media (max-width:800px){
    .contact-inputs{
      width: 80vw;
    }
    .contact_right {
      display: none;
    }
}

/*CTF CSS*/
.competition-header {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 1px;
  background-color: #faecc8;
  text-align: center;
  color: #99582A;
}

.ctf-container {
  padding: 40px 20px;
  background-color: #faecc8;
  min-width: 100%;
  min-height: 80vh;
}

#ctfs {
  max-width: 900px;
  margin: 0 auto;
}
.ctf-container h2 {
  color: #432818;
}
.ctf {
  background-color: #99582A;
  border-left: 8px solid #6f1d1b;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.ctf:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.ctf-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ctf-header h3 {
  margin: 0;
  color: #faecc8;
  font-size: 1.8em;
}

.ctf-header p {
  margin: 5px 0;
  color: #faecc8;
  font-size: 1.1em;
}

.ctf-description {
  margin-top: 10px;
  color: #faecc8;
  line-height: 1.6;
}

/* RESUME CSS*/
.resume_container{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.resume {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
